{% extends 'layout.html' %}
{% block body %}
<h1 id="hi-welcome-to-my-github-page-">Hi, Welcome to my blog project.👋</h1>
<p>I&#39;m Efecan Efe. Junior Python Developer and Civil Engineer. </p>
<p>I work every day to get the title of best developer.</p>
<h2 id="graduation">Graduation</h2>
<hr>
<p>B.S in Civil Enginnering - <em><a href="https://www.akdeniz.edu.tr/">Akdeniz University</a></em></p>
<h2 id="contact-me-">Contact me 📫</h2>
<p><em><a target="_blank" href="https://www.instagram.com/efejanefe/">Instagram</a></em>
<em><a target="_blank" href="https://www.linkedin.com/in/efecan-efe-a897a71a7/">LinkedIn</a></em>
<em><a target="_blank" href="https://github.com/EfecanE">GitHub</a></em>
<em><a href="mailto:mh.efecanefe@gmail.com">Gmail</a></em>

{% endblock body %}